.fields-selector {
  height: 200px;
  padding: 10px;
  display: table;
  width: 20%;
  margin-right: 5%;
}

.fields-selector>h3 {
  text-align: center;
}

button.field {
  background: darkblue;
  margin: 5px;
  padding: 5px;
  color: white;
  border-radius: 5px;
  display: table-row;
}

.hidden {
  display: none;
}