.no-forms {
  text-align: center;
}

.saved-forms {
  text-align: center;
  display: flex;
  flex-direction: column;
}

a.form-link {
  align-self: center;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: all 1s ease-in;
  border: 2px outset;
  margin: 6px;
}

a.form-link:hover {
  background: linear-gradient(#e66465, #9198e5);
}