.form-preview-container {
  width: 45%;
  text-align: center;
}

.form-preview {
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  padding: 10px;
  border: 3px outset;
  border-radius: 5px;
}

.form-preview-footer {
  text-align: center;
}

.form-field>span {
  opacity: 0;
}

.form-field>span:hover {
  opacity: 1;
  cursor: pointer;
  color: red;
}

button {
  background: darkblue;
  margin: 5px;
  padding: 5px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.25s ease-in;
}

button:hover:not(:disabled) {
  cursor: pointer;
  background: blue;
}

button:disabled {
  background-color: rgb(85, 85, 85);
  color: rgb(51, 51, 51);
}

button:visited {
  text-decoration: none;
}