.form-preview-container {
  margin-left: 20px;
  max-width: 50%;
}

.form-preview {
  padding: 10px;
  border: 3px outset;
  border-radius: 5px;
}

.form-preview-footer {
  text-align: center;
}

button.save-form {
  margin-top: 50px;
}