.form-preview-container {
  width: 45%;
  margin-right: 10%;
}

.form-preview {
  width: fit-content;
  padding: 10px;
  border: 3px outset;
  border-radius: 5px;
}

.form-preview-footer {
  text-align: center;
}

button.save-form {
  margin-top: 50px;
}